@import "../../styles/mixins.scss";
.skills{

    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3rem;

        @include respond(tab-port){
            justify-content: center;
        }
    }

    &__card span {
        color: #fff;
        font-weight: 600;
    }
    &__line{
        background-color: #fff;
        width: 28rem;
        height: 0.5rem;
        border-radius: 3rem;   

        @include respond (tab-port){
            width: 23rem;
        }

        div{
            background-color: var(--extra-color);
            height: 100%;
            position: relative;
            border-radius: 1rem;

            &::after{
                position: absolute;
                right: 0;
                color: var(--extra-color);
                bottom: 220%;
            }
        }
    }
    &__line-fill-1{
        width: 90%;

        &::after{
            content: "95%";
        }
    }
    &__line-fill-2{
        width: 80%;

        &::after{
            content: "80%";
        }
    }
    &__line-fill-3{
        width: 90%;

        &::after{
            content: "95%";
        }
    }
    &__line-fill-4{
        width: 85%;

        &::after{
            content: "85%";
        }
    }
    &__line-fill-5{
        width: 90%;

        &::after{
            content: "95%";
        }
    }
    &__line-fill-6{
        width: 70%;

        &::after{
            content: "70%";
        }
    }
    &__line-fill-7{
        width: 70%;

        &::after{
            content: "70%";
        }
    }
}